@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
	--angleNormal: -6deg;
	--angleStrong: -12deg;
	--angleNormalSin: 0.106;
	--angleStrongSin: 0.21;
	--gradientColorZero: #a960ee;
	--gradientColorOne: #ff333d;
	--gradientColorTwo: #90e0ff;
	--gradientColorThree: #ffcb57;
	--gradientColorZeroTransparent: rgba(169, 96, 238, 0);
	--gradientColorOneTransparent: rgba(255, 51, 61, 0);
	--gradientColorTwoTransparent: rgba(144, 224, 255, 0);
	--gradientColorThreeTransparent: rgba(255, 203, 87, 0);
}

html {
	scroll-behavior: smooth;
	overscroll-behavior: none;
}

body {
	background-color: white;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: "Poppins",Helvetica, sans-serif;
}

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.dialog-wrapper {
		@apply fixed inset-0 z-50 overflow-auto bg-transparent flex flex-col w-screen;
	}

	.dialog {
		@apply flex flex-col relative bg-white w-[90vw] max-w-md mx-auto
      rounded-md;
	}
}
